a:link{
 color:green
}
a:visited{
    color:aqua
}
a:active{
 color: blue;
 border: 2px solid  red;
 text-decoration: none;

}
a:hover{
background-color: black;
}
a:focus{
   background-color: blueviolet;

}






