*{
  color: darkgreen;
  text-align: center;
}
h3 {
background-color: red;
color: aliceblue;
text-align: center;
}
.element{
 background-color: yellow;
}



ul li{
background-color: grey;
border: 1px solid red;
color: aliceblue;
text-align: left;
}

dl dt{
background-color: blue;
color: aliceblue;
text-align: left;
}