*{
  /* margin: 0;
  padding: 0; */
  /* box-sizing: border-box; */
}
header{
  background-color: blue;
  color: white;
  width: 50vh;
  height: 50vh;
  /* border-width: 5px;
  border-style: double;
  border-color: red; */

  /* border-top: 5px double red;
  border-bottom: 5px double red; */
  /* border-left: 5px double red;
  border-right: 5px double red; */

  /* border: 5px double red; */

  /* outline: 3px solid black; */
  outline-offset: -20px;

 padding-top: 60px;
  padding-left: 80px;
  padding-bottom: 60px;
   padding-right: 90px;  

/* 1 value = all 4 sides */
/* 2 value = top and bottom for 1st value, left and right for 2nd value */
/* 3 value = top for 1st value, left and right for 2nd value, and bottom for 3rd value */
/* 4 values, follows clockwise direction (top, right, bottom, left) */

  /* padding: 60px;
  padding: 60px 50px;
  padding: 60px 50px 90px;
  padding: 60px 50px 90px 60px; */

  /* margin: 60px;
  margin: 60px 70px;
  margin: 60px 50px 90px;
  margin: 60px 50px 90px 60px; */

  margin-right: auto;
  margin-left: auto;

  /* border-radius: 50%; */
  /* border-radius: 20px 80px;
  border-radius: 20px 80px 120px;
  border-radius: 20px 50px 90px 150px; */

  /* border-top-right-radius: ; */

  box-shadow: -10px -10px 5px 1px black;
  box-shadow: 0px 0px 5px 3px black;

  box-sizing: border-box;
}
header a{
  color: white;
}
main{
  background-color: #ccc;
}